<html>
<header>
    <title>Product</title>
</header>

<body>

    <form action="/Product" method="POST">
        <p>Name: <input type="text" name="name" /></p>
        <p>Decription:<input type="text" name="description" /></p>
        <p>Price:<input type="number" name="price"></p>
        <p>Status:<input type="text" name="status"></p>
        <p>Product Type:<input type="text" name="proType"></p>

        <button type="submit">Add</button>
    </form>
    

    <p style="color: red;">
        <% if (typeof errMes !== 'undefined') {%>
        
        <%= errMes%>
        <% }%>
    </p>
    
</body>
</html>